@tailwind base;
@tailwind components;
@tailwind utilities;

html    {
    scroll-behavior: smooth;
    overflow-y: overlay;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
}

.font-inter {
    font-family: var(--font-inter) !important;
}

.font-questrial {
    font-family: var(--font-questrial) !important;
}